{% extends "contenido.html" %}

{% block titulo %}
  Rentabilidad AFP
{% endblock titulo %}

{% block menu %}
    <li {% if active == "hoy" %}class='is-active'{% endif %}><a data-tab="#hoy" data-side="#hoyside">Última información</a></li>
<!--     <li {% if active == 'ayer' %}class="is-active"{% endif %}><a data-tab="#ayer" data-side="#ayerside">Ayer</a></li>
    <li {% if active == 'anual' %}class="is-active"{% endif %}><a data-tab="#anual" data-side="#anual side">Anual</a></li>
 -->    <li {% if active == 'personalizado' %}class="is-active"{% endif %}><a data-tab="#personalizado" data-side="#personalizadoside">Personalizado</a></li>
       <li {% if active == 'activos' %}class="is-active"{% endif %}><a data-tab="#activos" data-side="#activosside">Activos</a></li>

{% endblock menu %}

{% block content %}

  <div class="tab" id="hoy">
    <div class="titlewrapper">
    <div><h3 class="is-pulled-left title is-4">Rentabilidad Diaria &#160;&#160;</h3></div>
    <div class="is-pulled-right"><span class="tag is-info is-medium">{{ayer.strftime('%d-%m-%y')}}</span> - <span class="tag is-info is-medium">{{hoy.strftime('%d-%m-%y')}}</span></div>

	</div>
	<table class="table tablarentabilidad sortable">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		<tbody>
		{% for afp in AFPDiaria %}
		<tr>
			<td><strong>{{ afp.nombre }}</strong></td>
			<td class="columnaA">{{ '%.3f%%' % afp.cuotaA if afp.cuotaA != None else 'S/I' }}</td>
			<td class="columnaB">{{ '%.3f%%' % afp.cuotaB if afp.cuotaB != None else 'S/I' }}</td>
			<td class="columnaC">{{ '%.3f%%' % afp.cuotaC if afp.cuotaC != None else 'S/I' }}</td>
			<td class="columnaD">{{ '%.3f%%' % afp.cuotaD if afp.cuotaD != None else 'S/I' }}</td>
			<td class="columnaE">{{ '%.3f%%' % afp.cuotaE if afp.cuotaE != None else 'S/I' }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<br>
    <div class="titlewrapper">
    <div><h3 class="is-pulled-left title is-4">Mes a la fecha&#160;&#160;</h3></div>
    <div class="is-pulled-right"><span class="tag is-info is-medium">{{mesTD.strftime('%d-%m-%y')}}</span> - <span class="tag is-info is-medium">{{hoy.strftime('%d-%m-%y')}}</span></div>
	</div>
	<table class="table tablarentabilidad sortable">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		<tbody>
		{% for afp in AFPMensual %}
		<tr>
			<td><strong>{{ afp.nombre }}</strong></td>
			<td class="columnaA">{{ '%.2f%%' % afp.cuotaA if afp.cuotaA != None else 'S/I' }}</td>
			<td class="columnaB">{{ '%.2f%%' % afp.cuotaB if afp.cuotaB != None else 'S/I' }}</td>
			<td class="columnaC">{{ '%.2f%%' % afp.cuotaC if afp.cuotaC != None else 'S/I' }}</td>
			<td class="columnaD">{{ '%.2f%%' % afp.cuotaD if afp.cuotaD != None else 'S/I' }}</td>
			<td class="columnaE">{{ '%.2f%%' % afp.cuotaE if afp.cuotaE != None else 'S/I' }}</td>
		</tr>
	    {% endfor %}
		</tbody>
	</table>
	<br>
	<div class="titlewrapper">
    <div><h3 class="is-pulled-left title is-4">Año a la fecha&#160;&#160;</h3></div>
    <div class="is-pulled-right"><span class="tag is-info is-medium">{{anioTD.strftime('%d-%m-%y')}}</span> - <span class="tag is-info is-medium">{{hoy.strftime('%d-%m-%y')}}</span></div>
	</div>
	<table class="table tablarentabilidad sortable">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		<tbody>
		<tr>
		{% for afp in AFPAnual %}
			<td><strong>{{ afp.nombre }}</strong></td>
			<td class="columnaA">{{ '%.2f%%' % afp.cuotaA if afp.cuotaA != None else 'S/I' }}</td>
			<td class="columnaB">{{ '%.2f%%' % afp.cuotaB if afp.cuotaB != None else 'S/I' }}</td>
			<td class="columnaC">{{ '%.2f%%' % afp.cuotaC if afp.cuotaC != None else 'S/I' }}</td>
			<td class="columnaD">{{ '%.2f%%' % afp.cuotaD if afp.cuotaD != None else 'S/I' }}</td>
			<td class="columnaE">{{ '%.2f%%' % afp.cuotaE if afp.cuotaE != None else 'S/I' }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>

	<div class="tab" id="personalizado">
    <div class="titlewrapper">
    <div><h3 class="title is-4">Personalizado&#160;&#160;</h3></div>
	</div>
	<br>
    
    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
    &nbsp;
    <span></span> 
    </div>
    <br>
    <p>Mostrando datos del <span class="tag is-success" id="fechainiciopersonalizado"></span> al <span class="tag is-success" id="fechafinalpersonalizado"></span></p>

    	<table id="tablapersonalizado" class="table tablarentabilidad">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		<tbody>

		</tbody>
	</table>


	</div>



{% endblock content %}
	
{% block sidebar %}

	<div class="side rentabilidad" id="hoyside">
		    <figure>
	   <embed type="image/svg+xml" src="{{graph_dia_data|safe}}"/>
		    </figure>

	</div>

	<div class="side rentabilidad" id="personalizadoside">
		<article id="mensajediahabil" class="message is-info">
		  <div class="message-header">
		    <p>Ojo</p>
		    <button class="delete"></button>
		  </div>
		  <div class="message-body">
		    Si seleccionas un <strong>día no hábil o un día para el que no exista información</strong>, te mostraremos el día anterior más cercano. Por ejemplo, si seleccionas de un Martes feriado verás la rentabilidad desde el Lunes.
		  </div>
		</article>
	</div>
	
{% endblock %}

{% block subscribe_script %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!--  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>-->
 <script src="{{ url_for('static', filename='js/afp.js') }}"></script> 
 <script src="{{ url_for('static', filename='js/sorttable.js') }}"></script> 

{% endblock %}

