{% extends "contenido.html" %}
{% block subscribe_script %}
 <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!--  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>--> <script src="{{ url_for('static', filename='js/afp.js') }}"></script>   
{% endblock %}


{% block titulo %}
   Rentabilidad AFP
{% endblock titulo %}

{% block menu %}
    <li {% if active == "hoy" %}class='is-active'{% endif %}><a data-tab="#hoy" data-side="#hoyside">Hoy</a></li>
<!--     <li {% if active == 'ayer' %}class="is-active"{% endif %}><a data-tab="#ayer" data-side="#ayerside">Ayer</a></li>
    <li {% if active == 'anual' %}class="is-active"{% endif %}><a data-tab="#anual" data-side="#anual side">Anual</a></li>
 -->    <li {% if active == 'personalizado' %}class="is-active"{% endif %}><a data-tab="#personalizado" data-side="#personalizadoside">Personalizado</a></li>
{% endblock menu %}

{% block content %}

  <br>
  <div class="tab" id="hoy">
    <div class="titlewrapper">
    <div><h3 class="is-pulled-left title is-4">Rentabilidad Diaria &#160;&#160;</h3></div>
    <div><span class="tag is-info">{{ayer.strftime('%d-%m-%y')}}</span> - <span class="tag is-info">{{hoy.strftime('%d-%m-%y')}}</span></div>
	</div>
	<table class="table tablarentabilidad">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		<tbody>
		{% for afp in AFPDiaria %}
		<tr>
			<th>{{ afp.nombre }}</th>
			<td>{{ afp.cuotaA }}</td>
			<td>{{ afp.cuotaB }}</td>
			<td>{{ afp.cuotaC }}</td>
			<td>{{ afp.cuotaD }}</td>
			<td>{{ afp.cuotaE }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<br>
    <div class="titlewrapper">
    <div><h3 class="is-pulled-left title is-4">Mes a la fecha&#160;&#160;</h3></div>
    <div><span class="tag is-info">{{mesTD.strftime('%d-%m-%y')}}</span> - <span class="tag is-info">{{hoy.strftime('%d-%m-%y')}}</span></div>
	</div>

	<table class="table tablarentabilidad">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		<tbody>
		{% for afp in AFPMensual %}
		<tr>
			<th>{{ afp.nombre }}</th>
			<td>{{ afp.cuotaA }}</td>
			<td>{{ afp.cuotaB }}</td>
			<td>{{ afp.cuotaC }}</td>
			<td>{{ afp.cuotaD }}</td>
			<td>{{ afp.cuotaE }}</td>
		</tr>
	    {% endfor %}
		</tbody>
	</table>
	<br>
	<div class="titlewrapper">
    <div><h3 class="is-pulled-left title is-4">Año a la fecha&#160;&#160;</h3></div>
    <div><span class="tag is-info">{{anioTD.strftime('%d-%m-%y')}}</span> - <span class="tag is-info">{{hoy.strftime('%d-%m-%y')}}</span></div>
	</div>
	<table class="table">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		<tbody>
		<tr>
		{% for afp in AFPAnual %}
			<th>{{ afp.nombre }}</th>
			<td>{{ afp.cuotaA }}</td>
			<td>{{ afp.cuotaB }}</td>
			<td>{{ afp.cuotaC }}</td>
			<td>{{ afp.cuotaD }}</td>
			<td>{{ afp.cuotaE }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>

	<div class="tab" id="personalizado">
    <div class="titlewrapper">
    <div><h3 class="title is-4">Personalizado&#160;&#160;</h3></div>
	</div>
	<br>
    
     <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    &nbsp;
    <span></span> 
    </div>
    <br>
	<table id=tablapersonalizado class="table">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		<tbody>

		</tbody>
	</table>


	</div>

{% endblock content %}
	
	{% block sidebar %}
	<br>
	<div class="side" id="personalizadoside">
		<article class="message is-info">
		  <div class="message-header">
		    <p>Ojo</p>
		    <button class="delete"></button>
		  </div>
		  <div class="message-body">
		    Si seleccionas <strong>un fin de semana, otro día no hábil o un día para el que no exista información</strong>, te mostraremos el día anterior más cercano. Por ejemplo, si seleccionas de un Domingo a un Lunes, te verás la rentabilidad de Viernes a Lunes.
		  </div>
		</article>
	</div>
	
	{% endblock %}

