{% extends "contenido.html" %}

{% block titulo %}
   Rentabilidad AFP
{% endblock titulo %}

{% block menu %}
    <li class="is-active"><a data-tab="#ultimainformacion">Hoy</a></li>
    <li><a data-tab="#ayer">Ayer</a></li>
    <li><a data-tab="#anual">Anual</a></li>
    <li><a data-tab="#personalizado">Personalizado</a></li>
{% endblock menu %}

{% block content %}

  <br>
  <div class="tab" id="ultimainformacion">
    <div class="titlewrapper">
    <div><h3 class="is-pulled-left title is-4">Rentabilidad Diaria &#160;&#160;</h3></div>
    <div><span class="tag is-info">{{ayer}}</span> - <span class="tag is-info">{{hoy}}</span></div>
	</div>
	<table class="table tablarentabilidad">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		<tbody>
		{% for afp in AFPDiaria %}
		<tr>
			<th>{{ afp.nombre }}</th>
			<td>{{ afp.cuotaA }}</td>
			<td>{{ afp.cuotaB }}</td>
			<td>{{ afp.cuotaC }}</td>
			<td>{{ afp.cuotaD }}</td>
			<td>{{ afp.cuotaE }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<br>
    <div class="titlewrapper">
    <div><h3 class="is-pulled-left title is-4">Rentabilidad Mensual&#160;&#160;</h3></div>
    <div><span class="tag is-info">{{mesTD}}</span> - <span class="tag is-info">{{hoy}}</span></div>
	</div>

	<table class="table tablarentabilidad">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		{% for afp in AFPMensual %}
		<tbody>
		<tr>
			<th>{{ afp.nombre }}</th>
			<td>{{ afp.cuotaA }}</td>
			<td>{{ afp.cuotaB }}</td>
			<td>{{ afp.cuotaC }}</td>
			<td>{{ afp.cuotaD }}</td>
			<td>{{ afp.cuotaE }}</td>
		</tr>
		</tbody>
		{% endfor %}
	</table>
	</div>

    <div class="tab" id="anual" style="display: none;">
    <div class="titlewrapper">
    <div><h3 class="is-pulled-left title is-4">Anual&#160;&#160;</h3></div>
    <div><span class="tag is-info">{{anioTD}}</span> - <span class="tag is-info">{{hoy}}</span></div>
	</div>
	<table class="table">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		{% for afp in AFPAnual %}
		<tbody>
		<tr>
			<th>{{ afp.nombre }}</th>
			<td>{{ afp.cuotaA }}</td>
			<td>{{ afp.cuotaB }}</td>
			<td>{{ afp.cuotaC }}</td>
			<td>{{ afp.cuotaD }}</td>
			<td>{{ afp.cuotaE }}</td>
		</tr>
		</tbody>
		{% endfor %}
	</table>
	</div>

	 <div class="tab" id="personalizado" style="display: none;">
    <div class="titlewrapper">
    <div><h3 class="is-pulled-left title is-4">Anual&#160;&#160;</h3></div>
    <div><span class="tag is-info">{{aniopasado}}</span> - <span class="tag is-info">{{hoy}}</span></div>
	</div>
	<table class="table">
		<thead>
		  <tr>
			<th>AFP</th>
			<th>A</th>
			<th>B</th>
			<th>C</th>
			<th>D</th>
			<th>E</th>
		  </tr>
		</thead>
		{% for afp in AFPMensual %}
		<tbody>
		<tr>
			<th>{{ afp.nombre }}</th>
			<td>{{ afp.cuotaA }}</td>
			<td>{{ afp.cuotaB }}</td>
			<td>{{ afp.cuotaC }}</td>
			<td>{{ afp.cuotaD }}</td>
			<td>{{ afp.cuotaE }}</td>
		</tr>
		</tbody>
		{% endfor %}
	</table>
	</div>

{% endblock content %}
